* {
  box-sizing: border-box;
}

.header{
  padding: 0.5px;
  text-align: center;
  background-color: powderblue;
  background-size: auto;
  display: flex;
  justify-content: center;
  height: auto;
  word-wrap: break-word;
  position: relative;
} 

ul.head{
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: lightpink;
}


li.head {
  display:inline-block;
}

li.head a {
  color: black;
  padding: 15px 20px;
  display: block;
  background-color: lightpink;
  text-decoration: none;
}

li.head a:hover {
  background-color: skyblue;
  color: black;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 25%;
  background-color: lightgray;
  padding: 20px;
}

.main{
  flex: 70%;
  background-color: wheat;
  padding: 20px;
}

.footer{
  padding: 2px;
  text-align: center;
  background: lightpink;
  font-size: 10px;
}

.nepimg{
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}




.titleheader{
  font-family: Arial, Helvetica, sans-serif;
}

.nepheader{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.nepneps{
  color: orangered;
  left: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  margin-top: 1%;
  font-size: 30px;
}

#toc {
  background: lightskyblue none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 15px;
  width: auto;
}

.toc_title {
  font-weight: 650;
  text-align: center; 
}

#toc li, #toc ul, #toc ul li{
  list-style: outside none none !important;
}

.content {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 10px; 
}

ul.tc{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}


li.tc {
  display: flex;
}

li.tc a {
  color: black;
  padding: 15px 20px;
  display: block;
  background-color: lightpink;
  text-decoration: none;
  text-align: center;
  align-content: center;
  width: 100%;
}

li.tc a:hover {
  background-color: pink;
  color: black;
}

.animeStats{
  display: inline;
  overflow: hidden;
}

.animeLinks a{
  text-decoration: none;
}

.animePhoto{
  float: left;
  padding-right: 15px;
  max-height: 250px;
}

@media screen and (max-width: 800px){
  .flex-container, ul, li{
      flex-direction: column;
  }

  .header{
      background-image: none;
      background-color: skyblue;
  
  }

  .nepheader{
      display:flex;
      justify-content:center;
      align-items:center;
      align-self: center;
  }

  .container{
      display: flex;
  }

  .nepneps{
      font-size: 20px;
  }

  .animePhoto{
      float: none;
      max-height: 250px;
  }

  .animeStats{
      display: inline-block;
      overflow: hidden;
  }
}